doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1' crossorigin='anonymous')
  title Hello, world!
.container
  .mx-auto(style='width: 70%;')
    .card.mx-auto(style='width: 18rem;')
      .card-body
        form(action="/" method="get")
          h5.card-title Enter your zipcode
          .input-group.mb-3
            input.form-control(type='text' placeholder='Your zipcode' aria-label='zipcode' id="zipcode" name="zipcode")
          button.btn.btn-primary(type='submit') Enter
    .card.mx-auto(style='width: 18rem;')
      .card-body
        h5.card-title Weather in #{city}
        img(src=imgURL alt='')
        h6 Condition: #{conditions}
        h6 Temperature: #{temperature}°F
        h6 Humidity: #{humidity}%
        h6 Wind: #{speed} m/s, #{degree}°
script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js' integrity='sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW' crossorigin='anonymous')
